@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page a {
  margin-top: 1em;
}

.data:not(:first-child) {
  margin-top: 2em;
}

.data label {
  font-size: 1.5em;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.data pre {
  background-color: gainsboro;
  padding: 1.5em;
  width: 500px;
  border-radius: 1em;
  overflow-x: auto;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
